Plaintext



# Quartus specific ignores

*/db/

*/incremental_db/

*/output_files/

*/simulation/

*.qws

*.rpt

*.smsg

*.summary

*.done

*.jdi

*.pin

*.sld

*.bak



# OS specific

.DS_Store

Thumbs.db